<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
  <parameter name="username" value="Pavithra"></parameter>
  <parameter name="password" value="Nila"></parameter>
    <classes>
      <class name="com.flipkart.stepDefinition1.MobileValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
